<p>Click one or more tags to show relevant resources.

  <br/>
  Follow <a href='https://twitter.com/ChineseLinks'>@ChineseLinks</a> on Twitter, to get notified about new resources!
</p>
<table id=tagtable>
<tr>
  <td class='question'><strong>Level</strong></td>
  <td>
    <% Tag.tier(0).each do |tg| %>
      <%= link_to tg.tag, tag_url(tg), class: "#{tg.css_class} #{tg == @tags.try(:[],0) ? 'active' : ''}", data: { push: true } %>
    <% end %>
  </td>
</tr>
  <tr>
    <td class='question'><strong>Topic</strong> </td>
    <td>
      <% Tag.tier(1).sort_by{|i| %w[speaking reading writing vocabulary grammar chinese-in-context living-in-chinese language-learning general].index(i.tag.downcase) || -1}.each do |tg| %>
        <% if (count = tg.story_count_in((@tags || []).compact.take(1))) and count > 0 %>
          <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[1] ? 'active' : ''}", data: { push: true }  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
        <% end %>
      <% end %>
    </td>
  </tr>

    <tr>
      <td class='question'><strong> Type</strong> </td>
      <td>
        <% Tag.tier(2).sort_by{|i| %w[information-and-advice resource-highlights resource-collections tools-and-apps social-learning].index(i.tag.downcase) || -1}.each do |tg| %>
          <% if (count = tg.story_count_in(@tags)) and count > 0 %>
            <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[2] ? 'active' : ''}", data: { push: true }  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% if tag_tier > 0 %>
    <tr>
      <td class='question'><strong> Additional</strong> </td>
      <td>
        <% Tag.tier(3).order(:tag).each do |tg| %>
          <% if (count = tg.story_count_in(@tags)) and count > 0 %>
            <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[3] ? 'active' : ''}", data: { push: true }  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
