<table id=tagtable>
<tr>
  <td width=120>What is your current level?</td>
  <td>
    <% Tag.tier(0).each do |tg| %>
      <%= link_to tg.tag, tag_url(tg), class: "#{tg.css_class} #{tg == @tags.try(:[],0) ? 'active' : ''}" %>
    <% end %>
  </td>
</tr>
<% if @tags %>
  <tr>
    <td> What do you want to improve? </td>
    <td>
      <% Tag.tier(1).sort_by{|i| %w[listening speaking reading writing vocabulary grammar culture strategy].index(i.tag.downcase)}.each do |tg| %>
        <% if (count = tg.story_count_in(@tags.take(1))) and count > 0 %>
          <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[1] ? 'active' : ''}"  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
        <% end %>
      <% end %>
    </td>
  </tr>

  <% if @tags.count >  1 %>
    <tr>
      <td> Additional </td>
      <td>
        <% Tag.tier(2).order(:tag).each do |tg| %>
          <% if (count = tg.story_count_in(@tags.take(2))) and count > 0 %>
            <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[2] ? 'active' : ''}"  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
