<table id=tagtable>
<tr>
  <td class='question'><strong>What is your current level?</strong></td>
  <td>
    <% Tag.tier(0).each do |tg| %>
      <%= link_to tg.tag, tag_url(tg), class: "#{tg.css_class} #{tg == @tags.try(:[],0) ? 'active' : ''}", data: { push: true } %>
    <% end %>
  </td>
</tr>
  <tr>
    <td class='question'><strong> What do you want to improve?</strong> </td>
    <td>
      <% Tag.tier(1).sort_by{|i| %w[listening speaking reading writing vocabulary grammar culture how-to-learn productivity].index(i.tag.downcase) || -1}.each do |tg| %>
        <% if (count = tg.story_count_in((@tags || []).compact.take(1))) and count > 0 %>
          <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[1] ? 'active' : ''}", data: { push: true }  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
        <% end %>
      <% end %>
    </td>
  </tr>

  <% if tag_tier > 0 %>
    <tr>
      <td class='question'><strong> Additional</strong> </td>
      <td>
        <% Tag.tier(2).order(:tag).each do |tg| %>
          <% if (count = tg.story_count_in(@tags)) and count > 0 %>
            <%= link_to tag_url_with_category(tg), class: "#{tg.css_class} #{tg == @tags[2] ? 'active' : ''}", data: { push: true }  do %><%= tg.tag %>&nbsp;(<%= count %>)<% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
