<div id="wrapper">
  <h2><%= t :site_title %></h2>
  <div id="local-header">
    <div id="headerleft">
      <% links = {
        "/" => t(:site_title),
        "/newest" => "Newest",
        "/comments" => "Comments"
      } %>

      <% if @user %>
        <% links.merge!({ "/threads" => "Your Threads",
          "/stories/new" => "Submit resource" }) %>
      <% end %>

      <% links.merge!({ "/search" => "Search" }) %>

      <% if @cur_url.present? && !links.keys.include?(@cur_url) &&
      @heading.present? %>
        <span id="headertitle">
          <a data-push href="<%= @cur_url %>"><%= @heading %></a>
        </span>
      <% end %>

      <span class="headerlinks">
        <% links.each do |u,v| %>
          <a data-push href="<%= u %>" <%= u == @cur_url ? raw("class=\"cur_url\"") :
            "" %>><%= v %></a>
        <% end %>
      </span>
    </div>

    <div id="headerright" class="<%= @user ? "loggedin" : "" %>">
      <span class="headerlinks">
      <a data-push href="/filters" <%= @cur_url == "/filters" ?
        raw("class=\"cur_url\"") : "" %>>Filters</a>
      <% if @user %>
        <% if (count = @user.unread_message_count) > 0 %>
          <a data-push href="/messages" class="new_messages <%= @cur_url == "/messages" ?
            "cur_url" : "" %>"><%= count %> New Message<%= count == 1 ? "" :
            "s" %></a>
        <% else %>
          <a data-push href="/messages" <%= @cur_url == "/messages" ?
            raw("class=\"cur_url\"") : "" %>>Messages</a>
        <% end %>

        <a data-push href="/settings" <%= @cur_url == "/settings" ?
          raw("class=\"cur_url\"") : "" %>><%= @user.username %>
          (<%= @user.karma %>)</a>

        <%= link_to "Logout", '/logout',
          :data => { :confirm => "Are you sure you want to logout?" },
          :method => "post" %>
      <% else %>
        <a href="/login" data-push>Login</a>
      <% end %>
      </span>
    </div>

    <div class="clear"></div>
  </div>

  <div id="inside">
    <% if flash[:error] %>
      <div class="flash-error"><%= flash[:error] %></div>
    <% elsif flash[:success] %>
      <div class="flash-success"><%= flash[:success] %></div>
    <% end %>

    <%= yield %>

    <div id="local-footer">
      <a href="/moderations" data-push>Moderation Log</a>
      <% if @user && !@user.is_new? &&
      (iqc = InvitationRequest.verified_count) > 0 %>
        <a href="/invitations" data-push>Invitation Queue (<%= iqc %>)</a>
      <% end %>
      <% if @user.try(:is_admin?) %>
        <a href='/admin/tags' data-push>Tags</a>
      <% end %>
      <a href="/privacy">Privacy</a>
      <a href="/about">About</a>
    </div>
    <div class="clear"></div>
  </div>
</div>
